:root {
    --color-background: goldenrod; 
    --color-foreground: #328bf1;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-md-dark: #808080;
    --color-success: #38a659;
    --color-danger: #eb4037;
    --color-warning: #fdbb2b;
    --color-lightest: brown;
    --color-footer: #800080;
    --border-style: 3px solid #000000;
    --font-family: "Futura", "Segoe UI","Open Sans", "Helvetica Neue", sans-serif;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;
    font-family: var(--font-family);
    letter-spacing: 0.5px;
    color: var(--border-style);
    background-image: linear-gradient(to right, blanchedalmond , pink);
    font-size: 15px;
}

section#me-intro  {
	text-transform: uppercase;
    color: var(--color-md-dark);
    text-align: end;
    height: 3em;
    position: relative;
    top: 1%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
section#my-intro  {
	text-transform: uppercase;
    color: darkgoldenrod;
    height: 3em;
    position: relative;
    top: 1%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-30%, -50%) 
}
h2, h3, h4 {
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 15px;
	width: max-content;
	color:black;
	display: flex;
	flex-direction: column;
}
ul {
	list-style: none;
	padding: 0;
}
aside.sidebar {
	position: absolute;
	right: 1%;
	top: 50px;
    text-align: right;
    margin-left: 10%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 300px; 
    position: relative;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.container {
    padding: 1px 5px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1px; 
}
  img {
    border-radius: 1px 1px 1px 1px;
}
h3 {
    color: var(--color-lightest);
}
.cardb {
    height: 0em;
    position: relative;
    top: 3%;
    left: 50%;
    margin: 10px;
    padding: 10px;
    line-height: 20.5px;
    margin-right: -0%;
    transform: translate(-80%, -80%);
    word-wrap: inherit; 
    line-height: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h4{
    color: var(--color-lightest);
}
.anchors {
    color: cadetblue;
}
.cardc {
    height: 0em;
    position: relative;
    top: 3%;
    left: 50%;
    margin: 95px;
    padding: 20px;
    line-height: 20.5px;
    /* margin-right: 50%; */
    transform: translate(40%, -20%);
    line-height: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
