:root {
    --color-background: goldenrod; 
    --color-foreground: #328bf1;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-md-dark: #a09696;
    --color-success: #38a659;
    --color-danger: #eb4037;
    --color-warning: #fdbb2b;
    --color-lightest: brown;
    --color-footer: #800080;
    --border-style: 3px solid #000000;
    --font-family: "Futura", "Segoe UI","Open Sans", "Helvetica Neue", sans-serif;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: var(--font-family);
    letter-spacing: 0.5px;
    color: var(--border-style);
    background-image: linear-gradient(to right, #a09696, pink);
    font-size: 15px;
}

section#me-intro  {
	text-transform: uppercase;
    color: var(--color-md-dark);
    text-align: end;
    height: 3em;
    position: relative;
    top: 1%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
section#my-intro  {
	text-transform: uppercase;
    color: darkgoldenrod;
    height: 3em;
    position: relative;
    top: 1%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-30%, -50%) 
}
blockquote {
    margin: 0px;
    top: 10%;   
    padding: 20px;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    left:-500px;
    top:20px;

  }
  blockquote:before {
    color: #ccc;
    font-size: 8em;
    line-height: 2.1em;
    margin-right: 1.25em;
    vertical-align: -1.4em;
  }
h2, h3, h4 {
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 15px;
	width: max-content;
	color:black;
	display: flex;
	flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside.sidebar {
	position: absolute;
	right: 1%;
	top: 50px;
  text-align: right;
  margin-left: 10%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 300px; 
    position: relative;
    border-radius: 1px; 
    display: flex;
    align-content: center;
  }
.card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
  }
.container {
    padding: 0px 5px;
  }
.button {
    background-color: var(--color-md-dark);
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
h1 {
    text-align: center;
    margin: 10px;
    padding: 35px;
}
h3 {
    color: var(--color-lightest);
}
h4{
    color: var(--color-lightest);
}
.anchors {
    color: cadetblue;
}
.cardc { 
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    height: 0em;
    position: relative;
    top: 10%;   
    padding: 10px;
    line-height: 26.5px;
    padding: 20px 15px;
}